<h1>Register Your Dog</h1>

<%= form_for @dog do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :breed %>
  <%= f.text_field :breed %><br>

  <%= f.label :age %>
  <%= f.number_field :age %><br>

  <%= f.label :hypo_allergenic %>
  <%= f.check_box :hypo_allergenic %><br>

  <%= f.label :care_info %>
  <%= f.text_area :care_info %><br>

  <%= f.label :user_id %>
  <%= f.collection_select :user_id, @users, :id, :name %><br>

  <%= f.submit %>


<% end %>
