
<div class="show_title">
  <h1 id="username-home"><%= @dog.name %></h1>
  </div>
  <img src="<%= @dog.image %>" alt="Avatar" class="avatar">

<ul>
  <li>Name: <%= @dog.name %></li>
  <li>Owner: <%= link_to @dog.user.first_name, "/users/#{@dog.user_id}" %></li>
  <li>Breed: <%= @dog.breed %></li>
  <li>Age: <%= @dog.age %></li>
  <li>Care Information: <%= @dog.care_info %></li>

</ul>


<% if @dog.user_id == current_user.id %>
  <%= button_to "Edit", "/dogs/#{@dog.id}/edit", {method: :get} %><br>
  <%= button_to "Back", "/users/#{current_user.id}", {method: :get} %>
<% end %>
