<!DOCTYPE html>
<html>
<div class="row">



<head>
<div class="show_title">
  <h1 id="username"><%= "#{@user.first_name} " "#{@user.last_name}" %></h1>
</div>


<img src="https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png" alt="Avatar" class="avatar">
</head>

<body>
  <div class="col s6">
<div class="user_info">
  <ul>
    <h3>User Info</h3>
      <div class="user_address">
        <li>Address: <%= @user.address %> <%= @user.city %>, <%= @user.state %> <%= @user.zip_code %></li>
      </div>
      <div class="user_dob">
        <% if @user.dob != nil %>
        <li>Date of Birth: <%= Date.parse(@user.dob.to_s) %></li>
        <% end %>
      </div>
      <div class="token_balance">
        <li>Token Balance: <%= @user.token_balance %></li>
      </div>
      <div class="action btn waves-effect waves-light actions white">
        <span class= "white-text">
        <%= button_to "Edit my information", "/users/#{@user.id}/edit", {method: :get}%>
      </div>
      <br><br>
      </div>
  </ul>

</div>
  <div class="col s6">
  <div class="dogs">
    <ul>
      <h3>Dogs</h3>
        <% @user.dogs.each do |dog| %>

          <img src="https://i.imgur.com/kgIFYme.jpg" alt="Avatar-dog" class="avatar-dog">
          <li><%= link_to dog.name, dog_path(dog.id) %></li>
        <% end %>
    </ul>
  </div>


<div class="action btn waves-effect waves-light actions white">
  <span class= "white-text">
  <%= button_to "Register New Dog", new_dog_path, {method: :get} %>
</div><br><br>

</div>


<!-- CHECK TO SEE IF THIS WORKS WITH TEST DATA -->

<div class="action btn waves-effect waves-light actions white">
  <span class= "white-text">
  <%= button_to "Delete Account", "/login", {method: :destroy}%>
</div><br><br>

</div>
</body>
</html>
