
<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
  <%= msg %>
  <% end %>
<% end %>

<%= form_for @appointment do |f| %>

  <%= f.label :Dog_Name %>
  <%= f.collection_select :dog_id, @dogs, :id, :name, {:prompt => 'Please select your dog'}, class: "browser-default"%><br>


  <%= f.label :appointment_date %>
  <%= f.text_field :appointment_date, class: "datepicker" %><br>

  <%= f.label :appointment_time %>
  <%= f.text_field :appointment_time, class: "timepicker" %><br>

  <%= f.label :walk_duration %><br><br>
    <%= f.collection_select :walk_duration, @time_selection, :to_s, :to_s, {:prompt => 'Please select walk duration (minutes)'}, class: "browser-default"%><br>

  <%= f.label :notes %>
  <%= f.text_area :notes %><br>


  <div class="action btn waves-effect waves-light actions white">
    <span class= "white-text">
  <%= f.submit %>
  </div>
<br>

<% end %>
