<h1>Open appointments! Walkers Needed.</h1>


<ul>
  <% @open_appointments.each do |appointment| %>
    <li>Appointment Number: <%= appointment.id %></li>
    <li>Dog: <%= link_to appointment.dog.name, "/dogs/#{appointment.dog.id}" %></li>
    <li>Dog's Owner: <%= link_to appointment.dog.user.first_name, "/users/#{appointment.dog.user.id}" %></li>
    <li>Appointment Date: <%= appointment.appointment_date %></li>
    <li>Appointment Time: <%= appointment.appointment_time %></li>
    <li>Walk Duration: <%=appointment.walk_duration %></li>
    <li>Notes: <%= appointment.notes %> </li>
    <li>Tokens: <%= appointment.tokens %></li>
    <li>Status: <%= appointment.status %></li>

    <%= button_to 'View', appointment_path(appointment.id) , {:method=>:get} %>

    <%= button_to 'Book This Dog', {:controller => "appointments", :action => "status_to_scheduled", :id => appointment.id }, {:method=>:patch} %><br>

  <% end %>

</ul>
