<h1> Appointment Number:</h1><%= @appointment.id %>

<h3>Your Appointment Information:</h3>
<ul>
  <li>Appointment Number: <%= @appointment.id %></li>
  <li>Dog: <%= link_to @appointment.dog.name, '/dogs/#{@appointment.dog.id}' %></li>
  <li>Dog's Owner: <%= link_to @appointment.dog.user.name, "/users/#{@appointment.dog.user.id}" %></li>

  conditional
  <li>Walker:
    <% if !@appointment.walker.nil?   %>
    <%= link_to @appointment.walker.name, user_path(@appointment) %><% end %></li>
  <li>Appointment Date: <%= @appointment.appointment_date %></li>
  <li>Appointment Time: <%= @appointment.appointment_time %></li>
  <li>Walk Duration: <%= @appointment.walk_duration %></li>
  <li>Notes: <%= @appointment.notes %> </li>

  <%= button_to 'Cancel Appointment', {:controller => "appointments", :action => "status_to_open", :id => @appointment.id, :walker_id => current_user.id, :status=> "scheduled"} , {:method=>:patch} %>

</ul>
