<!DOCTYPE html>
<html>
  <head>
    <title>WeWalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to current_user.username, user_path(current_user.id), :method => :get %>
      <%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%><br>
    <% end %>
    <%= yield %>
  </body>
</html>
