<!DOCTYPE html>
<html>
  <head>



    <title>WeWalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'datepicker' %>
    <%= javascript_include_tag 'select' %>
    <%= javascript_include_tag 'timepicker' %>
  </head>

  <body class="layout-body">
    <nav>
    <div class="nav-wrapper">
    <% if current_user %>
    <a href="/" class="brand-logo">wewalk</a>
    <ul class="right">

      <li><%= link_to current_user.username, user_path(current_user.id), :method => :get %></li>
      <li><%= link_to "Open Appointments", "/appointments/open" %></li>
      <li><%= link_to "My Appointments", "/users/#{current_user.id}/appointments" %></li>
      <li><%= link_to "New Appointment", "/appointments/new" %></li>
      <li><%= link_to "Logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%></li>
    </ul>
    <% else %>
      <a href="/" class="brand-logo">wewalk</a>
      <ul class="right">
        <li><%= link_to "Login", login_path %></li>
      </ul>
      <% end %>
     </div>
     </nav>

    <div class="container">

    <%= yield %>
    </div>
  </body>
  <footer class="page-footer">
        <!-- <div class="container"> -->
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">wewalk</h5>
              <p class="grey-text text-lighten-4">Not affiliated with wework</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <!-- <h5 class="white-text">Links</h5>
              <ul> -->
                <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 WeWalk
          <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
          </div>
        </div>
      </footer>
</html>
